/*body {
    background: url(../images/bg1.gif) no-repeat center center fixed;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
#reg{
    width: 40%;
    height: auto;
}
.myTable {
    width:100%;
    height:100%;
    padding-right: 30%;
    padding-left: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-top:10%;
}
#myBar{
    text-align: center;
}
.warn{
    text-align: center;
    color:red
}
#bg {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 300px;
}
#home{
    background: url(../images/bg1.gif) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 900px;
}
#sign{
    background: url(../images/bg3.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 900px;
}
#forget{
    background: url(../images/bg4.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 900px;
}
#videoBg {
    background: url(../images/bg5.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 300px;
}